*,:before,:after{
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb
}

html{
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4;
  font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"
}

body{
  margin:0;
  line-height:inherit
}

hr{
  height:0;
  color:inherit;
  border-top-width:1px
}

abbr:where([title]){
  text-decoration:underline dotted
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight:inherit
}

a{
  color:inherit;
  text-decoration:inherit
}

b,strong{
  font-weight:bolder
}

code,kbd,samp,pre{
  font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size:1em
}

small{
  font-size:80%
}

sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sub{
  bottom:-.25em
}

sup{
  top:-.5em
}

table{
  text-indent:0;
  border-color:inherit;
  border-collapse:collapse
}

button,input,optgroup,select,textarea{
  font-family:inherit;
  font-size:100%;
  font-weight:inherit;
  line-height:inherit;
  color:inherit;
  margin:0;
  padding:0
}

button,select{
  text-transform:none
}

button,[type=button],[type=reset],[type=submit]{
  -webkit-appearance:button;
  background-color:transparent;
  background-image:none
}

:-moz-focusring{
  outline:auto
}

:-moz-ui-invalid{
  box-shadow:none
}

progress{
  vertical-align:baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button{
  height:auto
}

[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px
}

::-webkit-search-decoration{
  -webkit-appearance:none
}

::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit
}

summary{
  display:list-item
}

blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{
  margin:0
}

fieldset{
  margin:0;
  padding:0
}

legend{
  padding:0
}

ol,ul,menu{
  list-style:none;
  margin:0;
  padding:0
}

textarea{
  resize:vertical
}

input::placeholder,textarea::placeholder{
  opacity:1;
  color:#9ca3af
}

button,[role=button]{
	cursor:pointer
}

:disabled{
	cursor:default
}

img,svg,video,canvas,audio,iframe,embed,object{
	display:block;
	vertical-align:middle
}

img,video{
	max-width:100%;
	height:auto
}

[hidden]{
	display:none
}

*,:before,:after{
	--un-rotate:0;
	--un-rotate-x:0;
	--un-rotate-y:0;
	--un-rotate-z:0;
	--un-scale-x:1;
	--un-scale-y:1;
	--un-scale-z:1;
	--un-skew-x:0;
	--un-skew-y:0;
	--un-translate-x:0;
	--un-translate-y:0;
	--un-translate-z:0;
	--un-pan-x: ;
	--un-pan-y: ;
	--un-pinch-zoom: ;
	--un-scroll-snap-strictness:proximity;
	--un-ordinal: ;
	--un-slashed-zero: ;
	--un-numeric-figure: ;
	--un-numeric-spacing: ;
	--un-numeric-fraction: ;
	--un-border-spacing-x:0;
	--un-border-spacing-y:0;
	--un-ring-offset-shadow:0 0 rgba(0,0,0,0);
	--un-ring-shadow:0 0 rgba(0,0,0,0);
	--un-shadow-inset: ;
	--un-shadow:0 0 rgba(0,0,0,0);
	--un-ring-inset: ;
	--un-ring-offset-width:0px;
	--un-ring-offset-color:#fff;
	--un-ring-width:0px;
	--un-ring-color:rgba(147,197,253,.5);
	--un-blur: ;
	--un-brightness: ;
	--un-contrast: ;
	--un-drop-shadow: ;
	--un-grayscale: ;
	--un-hue-rotate: ;
	--un-invert: ;
	--un-saturate: ;
	--un-sepia: ;
	--un-backdrop-blur: ;
	--un-backdrop-brightness: ;
	--un-backdrop-contrast: ;
	--un-backdrop-grayscale: ;
	--un-backdrop-hue-rotate: ;
	--un-backdrop-invert: ;
	--un-backdrop-opacity: ;
	--un-backdrop-saturate: ;
	--un-backdrop-sepia: 
}

::backdrop{
	--un-rotate:0;
	--un-rotate-x:0;
	--un-rotate-y:0;
	--un-rotate-z:0;
	--un-scale-x:1;
	--un-scale-y:1;
	--un-scale-z:1;
	--un-skew-x:0;
	--un-skew-y:0;
	--un-translate-x:0;
	--un-translate-y:0;
	--un-translate-z:0;
	--un-pan-x: ;
	--un-pan-y: ;
	--un-pinch-zoom: ;
	--un-scroll-snap-strictness:proximity;
	--un-ordinal: ;
	--un-slashed-zero: ;
	--un-numeric-figure: ;
	--un-numeric-spacing: ;
	--un-numeric-fraction: ;
	--un-border-spacing-x:0;
	--un-border-spacing-y:0;
	--un-ring-offset-shadow:0 0 rgba(0,0,0,0);
	--un-ring-shadow:0 0 rgba(0,0,0,0);
	--un-shadow-inset: ;
	--un-shadow:0 0 rgba(0,0,0,0);
	--un-ring-inset: ;
	--un-ring-offset-width:0px;
	--un-ring-offset-color:#fff;
	--un-ring-width:0px;
	--un-ring-color:rgba(147,197,253,.5);
	--un-blur: ;
	--un-brightness: ;
	--un-contrast: ;
	--un-drop-shadow: ;
	--un-grayscale: ;
	--un-hue-rotate: ;
	--un-invert: ;
	--un-saturate: ;
	--un-sepia: ;
	--un-backdrop-blur: ;
	--un-backdrop-brightness: ;
	--un-backdrop-contrast: ;
	--un-backdrop-grayscale: ;
	--un-backdrop-hue-rotate: ;
	--un-backdrop-invert: ;
	--un-backdrop-opacity: ;
	--un-backdrop-saturate: ;
	--un-backdrop-sepia: 
}

@keyframes shadcn-down{
  0%{
    height:0
  }

  to{
    height:var(--radix-accordion-content-height)
  }
}

@keyframes shadcn-up{
  0%{
    height:var(--radix-accordion-content-height)
  }

  to{
    height:0
  }
}

@keyframes shadcn-enter{
  0%{
    opacity:var(--un-enter-opacity, 1);
    transform:translate3d(var(--un-enter-translate-x, 0),var(--un-enter-translate-y, 0),0) scale3d(var(--un-enter-scale, 1),var(--un-enter-scale, 1),var(--un-enter-scale, 1)) rotate(var(--un-enter-rotate, 0))
  }
}

@keyframes shadcn-exit{
  to{
    opacity:var(--un-exit-opacity, 1);
    transform:translate3d(var(--un-exit-translate-x, 0),var(--un-exit-translate-y, 0),0) scale3d(var(--un-exit-scale, 1),var(--un-exit-scale, 1),var(--un-exit-scale, 1)) rotate(var(--un-exit-rotate, 0))
  }
}

:root{
	--background: 0,0%,100%;
	--foreground: 222.2,47.4%,11.2%;
	--muted: 210,40%,96.1%;
	--muted-foreground: 215.4,16.3%,46.9%;
	--popover: 0,0%,100%;
	--popover-foreground: 222.2,47.4%,11.2%;
	--border: 214.3,31.8%,91.4%;
	--input: 214.3,31.8%,91.4%;
	--card: 0,0%,100%;
	--card-foreground: 222.2,47.4%,11.2%;
	--primary: 222.2,47.4%,11.2%;
	--primary-foreground: 210,40%,98%;
	--secondary: 210,40%,96.1%;
	--secondary-foreground: 222.2,47.4%,11.2%;
	--accent: 210,40%,96.1%;
	--accent-foreground: 222.2,47.4%,11.2%;
	--destructive: 0,100%,50%;
	--destructive-foreground: 210,40%,98%;
	--ring: 215,20.2%,65.1%;
	--radius: .5rem 
}

.dark{
	--background: 224,71%,4%;
	--foreground: 213,31%,91%;
	--muted: 223,47%,11%;
	--muted-foreground: 215.4,16.3%,56.9%;
	--accent: 216,34%,17%;
	--accent-foreground: 210,40%,98%;
	--popover: 224,71%,4%;
	--popover-foreground: 215,20.2%,65.1%;
	--border: 216,34%,17%;
	--input: 216,34%,17%;
	--card: 224,71%,4%;
	--card-foreground: 213,31%,91%;
	--primary: 210,40%,98%;
	--primary-foreground: 222.2,47.4%,1.2%;
	--secondary: 222.2,47.4%,11.2%;
	--secondary-foreground: 210,40%,98%;
	--destructive: 0,63%,31%;
	--destructive-foreground: 210,40%,98%;
	--ring: 216,34%,17%;
	--radius: .5rem 
}

.i-lucide\:bold{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14 12a4 4 0 0 0 0-8H6v8m9 8a4 4 0 0 0 0-8H6v8Z'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:calendar-days{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='18' height='18' x='3' y='4' rx='2' ry='2'/%3E%3Cpath d='M16 2v4M8 2v4m-5 4h18M8 14h.01M12 14h.01M16 14h.01M8 18h.01M12 18h.01M16 18h.01'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:check{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:chevron-down{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 9l6 6l6-6'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:chevron-right{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m9 18l6-6l-6-6'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:cloud{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:credit-card{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='20' height='14' x='2' y='5' rx='2'/%3E%3Cpath d='M2 10h20'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:github{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5c.08-1.25-.27-2.48-1-3.5c.28-1.15.28-2.35 0-3.5c0 0-1 0-3 1.5c-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5c-.39.49-.68 1.05-.85 1.65c-.17.6-.22 1.23-.15 1.85v4'/%3E%3Cpath d='M9 18c-4.51 2-5-2-7-2'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:keyboard{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='20' height='16' x='2' y='4' rx='2' ry='2'/%3E%3Cpath d='M6 8h.001M10 8h.001M14 8h.001M18 8h.001M8 12h.001M12 12h.001M16 12h.001M7 16h10'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:life-buoy{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cpath d='m4.93 4.93l4.24 4.24m5.66 5.66l4.24 4.24m-4.24-9.9l4.24-4.24m-4.24 4.24l3.53-3.53M4.93 19.07l4.24-4.24'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:log-out{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4m7 14l5-5l-5-5m5 5H9'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:mail{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Crect width='20' height='16' x='2' y='4' rx='2'/%3E%3Cpath d='m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:message-square{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:plus{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v14m-7-7h14'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:plus-circle{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 8v8m-4-4h8'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:settings{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z'/%3E%3Ccircle cx='12' cy='12' r='3'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:settings-2{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M20 7h-9m3 10H5'/%3E%3Ccircle cx='17' cy='17' r='3'/%3E%3Ccircle cx='7' cy='7' r='3'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:user{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2'/%3E%3Ccircle cx='12' cy='7' r='4'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:user-plus{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2'/%3E%3Ccircle cx='9' cy='7' r='4'/%3E%3Cpath d='M19 8v6m3-3h-6'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:users{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2'/%3E%3Ccircle cx='9' cy='7' r='4'/%3E%3Cpath d='M22 21v-2a4 4 0 0 0-3-3.87m-3-12a4 4 0 0 1 0 7.75'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-lucide\:x{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.i-tabler\:circle-filled{
	--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3Cpath fill='currentColor' d='M7 3.34a10 10 0 1 1-4.995 8.984L2 12l.005-.324A10 10 0 0 1 7 3.34z'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-mask:var(--un-icon) no-repeat;
	mask:var(--un-icon) no-repeat;
	-webkit-mask-size:100% 100%;
	mask-size:100% 100%;
	background-color:currentColor;
	color:inherit;
	width:1em;
	height:1em
}

.flex-col-center{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center
}

.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	white-space:nowrap;
	border-width:0
}

.pointer-events-auto{
	pointer-events:auto
}

.data-\[disabled\]\:pointer-events-none[data-disabled],.disabled\:pointer-events-none:disabled,.pointer-events-none{
	pointer-events:none
}

.absolute{
	position:absolute
}

.fixed{
	position:fixed
}

.relative{
	position:relative
}

.inset-0{
	inset:0
}

.left-0{
	left:0
}

.left-2{
	left:.5rem
}

.right-2{
	right:.5rem
}

.right-4{
	right:1rem
}

.top-\[1px\]{
	top:1px
}

.top-\[60\%\]{
	top:60%
}

.top-0{
	top:0
}

.top-2{
	top:.5rem
}

.top-4{
	top:1rem
}

.top-full{
	top:100%
}

.line-clamp-2{
	overflow:hidden;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	line-clamp:2
}

.z-\[1\]{
	z-index:1
}

.z-\[100\]{
	z-index:100
}

.z-10{
	z-index:10
}

.z-50{
	z-index:50
}

.grid{
	display:grid
}

.col-span-2{
	grid-column:span 2/span 2
}

.col-span-3{
	grid-column:span 3/span 3
}

.row-span-3{
	grid-row:span 3/span 3
}

.grid-cols-2{
	grid-template-columns:repeat(2,minmax(0,1fr))
}

.grid-cols-3{
	grid-template-columns:repeat(3,minmax(0,1fr))
}

.grid-cols-4{
	grid-template-columns:repeat(4,minmax(0,1fr))
}

.-mx-1{
	margin-left:-.25rem;
	margin-right:-.25rem
}

.my-1{
	margin-top:.25rem;
	margin-bottom:.25rem
}

.mb-2{
	margin-bottom:.5rem
}

.ml-1{
	margin-left:.25rem
}

.ml-auto{
	margin-left:auto
}

.mr-2{
	margin-right:.5rem
}

.mt-1\.5{
	margin-top:.375rem
}

.mt-2{
	margin-top:.5rem
}

.mt-4{
	margin-top:1rem
}

.block{
	display:block
}

.aspect-square{
	aspect-ratio:1/1
}

.\!w-100{
	width:25rem!important
}

.h-\[150px\]{
	height:150px
}

.h-\[24px\]{
	height:24px
}

.h-\[var\(--radix-navigation-menu-viewport-height\)\]{
	height:var(--radix-navigation-menu-viewport-height)
}

.h-\[var\(--radix-select-trigger-height\)\]{
	height:var(--radix-select-trigger-height)
}

.h-1\.5{
	height:.375rem
}

.h-1\/2{
	height:50%
}

.h-1\/3{
	height:33.3333333333%
}

.h-1\/4{
	height:25%
}

.h-10{
	height:2.5rem
}

.h-11{
	height:2.75rem
}

.h-12{
	height:3rem
}

.h-2{
	height:.5rem
}

.h-2\.5{
	height:.625rem
}

.h-20{
	height:5rem
}

.h-3{
	height:.75rem
}

.h-3\.5{
	height:.875rem
}

.h-4{
	height:1rem
}

.h-5{
	height:1.25rem
}

.h-5\/6{
	height:83.3333333333%
}

.h-8{
	height:2rem
}

.h-9{
	height:2.25rem
}

.h-full{
	height:100%
}

.h-px{
	height:1px
}

.h-screen{
	height:100vh
}

.max-h-screen{
	max-height:100vh
}

.max-w-450px{
	max-width:450px
}

.max-w-lg{
	max-width:32rem
}

.max-w-screen{
	max-width:100vw
}

.min-w-\[12rem\]{
	min-width:12rem
}

.min-w-\[8rem\]{
	min-width:8rem
}

.min-w-\[var\(--radix-select-trigger-width\)\]{
	min-width:var(--radix-select-trigger-width)
}

.w-\[180px\]{
	width:180px
}

.w-\[200px\]{
	width:200px
}

.w-\[250px\]{
	width:250px
}

.w-\[300px\]{
	width:300px
}

.w-\[400px\]{
	width:400px
}

.w-\[44px\]{
	width:44px
}

.w-\[60\%\]{
	width:60%
}

.w-1\/2{
	width:50%
}

.w-1\/3{
	width:33.3333333333%
}

.w-1\/4{
	width:25%
}

.w-10{
	width:2.5rem
}

.w-12{
	width:3rem
}

.w-2{
	width:.5rem
}

.w-2\.5{
	width:.625rem
}

.w-3{
	width:.75rem
}

.w-3\.5{
	width:.875rem
}

.w-4{
	width:1rem
}

.w-48{
	width:12rem
}

.w-5{
	width:1.25rem
}

.w-5\/6{
	width:83.3333333333%
}

.w-56{
	width:14rem
}

.w-64{
	width:16rem
}

.w-72{
	width:18rem
}

.w-80{
	width:20rem
}

.w-90\%{
	width:90%
}

.w-full{
	width:100%
}

.w-max{
	width:max-content
}

.w-screen{
	width:100vw
}

.flex{
	display:flex
}

.inline-flex{
	display:inline-flex
}

.flex-1{
	flex:1 1 0%
}

.shrink-0{
	flex-shrink:0
}

.grow{
	flex-grow:1
}

.flex-col{
	flex-direction:column
}

.flex-col-reverse{
	flex-direction:column-reverse
}

.origin-top-center{
	transform-origin:top center
}

.data-\[state\=checked\]\:translate-x-5[data-state=checked]{
	--un-translate-x:1.25rem;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.data-\[state\=unchecked\]\:translate-x-0[data-state=unchecked],.data-\[swipe\=cancel\]\:translate-x-0[data-swipe=cancel]{
	--un-translate-x:0;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.data-\[swipe\=end\]\:translate-x-\[var\(--radix-toast-swipe-end-x\)\][data-swipe=end]{
	--un-translate-x:var(--radix-toast-swipe-end-x);
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.data-\[swipe\=move\]\:translate-x-\[var\(--radix-toast-swipe-move-x\)\][data-swipe=move]{
	--un-translate-x:var(--radix-toast-swipe-move-x);
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.translate-y-1{
	--un-translate-y:.25rem;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.\[\&\[data-state\=open\]\>span\]\:rotate-180[data-state=open]>span,.group[data-state=open] .group-data-\[state\=open\]\:rotate-180{
	--un-rotate-x:0;
	--un-rotate-y:0;
	--un-rotate-z:0;
	--un-rotate:180deg;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.rotate-45{
	--un-rotate-x:0;
	--un-rotate-y:0;
	--un-rotate-z:0;
	--un-rotate:45deg;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.scale-100{
	--un-scale-x:1;
	--un-scale-y:1;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

.active\:scale-97:active{
	--un-scale-x:.97;
	--un-scale-y:.97;
	transform:translate(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotate(var(--un-rotate-z)) skew(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
}

@keyframes pulse{
  0%,to{
    opacity:1
  }

  50%{
    opacity:.5
  }
}

.animate-pulse{
	animation:pulse 2s cubic-bezier(.4,0,.6,1) infinite
}

.cursor-default{
	cursor:default
}

.cursor-pointer{
	cursor:pointer
}

.disabled\:cursor-not-allowed:disabled,.peer:disabled~.peer-disabled\:cursor-not-allowed{
	cursor:not-allowed
}

.hover\:cursor-grab:hover{
	cursor:grab
}

.active\:cursor-grabbing:active{
	cursor:grabbing
}

.touch-none{
	touch-action:none
}

.select-none{
	-webkit-user-select:none;
	user-select:none
}

.list-none{
	list-style-type:none
}

.items-start{
	align-items:flex-start
}

.items-end{
	align-items:flex-end
}

.items-center{
	align-items:center
}

.justify-start{
	justify-content:flex-start
}

.justify-end{
	justify-content:flex-end
}

.justify-center{
	justify-content:center
}

.justify-between{
	justify-content:space-between
}

.gap-1{
	grid-gap:.25rem;
	gap:.25rem
}

.gap-2{
	grid-gap:.5rem;
	gap:.5rem
}

.gap-3{
	grid-gap:.75rem;
	gap:.75rem
}

.gap-4{
	grid-gap:1rem;
	gap:1rem
}

.space-x-1>:not([hidden])~:not([hidden]){
	--un-space-x-reverse:0;
	margin-left:calc(.25rem * calc(1 - var(--un-space-x-reverse)));
	margin-right:calc(.25rem * var(--un-space-x-reverse))
}

.space-x-2>:not([hidden])~:not([hidden]){
	--un-space-x-reverse:0;
	margin-left:calc(.5rem * calc(1 - var(--un-space-x-reverse)));
	margin-right:calc(.5rem * var(--un-space-x-reverse))
}

.space-x-4>:not([hidden])~:not([hidden]){
	--un-space-x-reverse:0;
	margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));
	margin-right:calc(1rem * var(--un-space-x-reverse))
}

.space-y-1\.5>:not([hidden])~:not([hidden]){
	--un-space-y-reverse:0;
	margin-top:calc(.375rem * calc(1 - var(--un-space-y-reverse)));
	margin-bottom:calc(.375rem * var(--un-space-y-reverse))
}

.space-y-1>:not([hidden])~:not([hidden]){
	--un-space-y-reverse:0;
	margin-top:calc(.25rem * calc(1 - var(--un-space-y-reverse)));
	margin-bottom:calc(.25rem * var(--un-space-y-reverse))
}

.space-y-2>:not([hidden])~:not([hidden]){
	--un-space-y-reverse:0;
	margin-top:calc(.5rem * calc(1 - var(--un-space-y-reverse)));
	margin-bottom:calc(.5rem * var(--un-space-y-reverse))
}

.overflow-hidden{
	overflow:hidden
}

.whitespace-nowrap{
	white-space:nowrap
}

.border{
	border-width:1px
}

.border-2{
	border-width:2px
}

.file\:border-0::file-selector-button{
	border-width:0
}

.border-b{
	border-bottom-width:1px
}

.border-destructive{
	--un-border-opacity:1;
	border-color:hsla(var(--destructive),var(--un-border-opacity))
}

.border-input{
	--un-border-opacity:1;
	border-color:hsla(var(--input),var(--un-border-opacity))
}

.border-primary,.data-\[state\=checked\]\:border-primary[data-state=checked]{
	--un-border-opacity:1;
	border-color:hsla(var(--primary),var(--un-border-opacity))
}

.border-slate-100{
	--un-border-opacity:1;
	border-color:rgba(241,245,249,var(--un-border-opacity))
}

.border-slate-200{
	--un-border-opacity:1;
	border-color:rgba(226,232,240,var(--un-border-opacity))
}

.border-transparent{
	border-color:transparent
}

.dark .dark\:border-slate-700{
	--un-border-opacity:1;
	border-color:rgba(51,65,85,var(--un-border-opacity))
}

.dark .dark\:border-slate-800{
	--un-border-opacity:1;
	border-color:rgba(30,41,59,var(--un-border-opacity))
}

.group.destructive .group-\[\.destructive\]\:border-destructive\/30,.group.destructive .group-\[\.destructive\]\:hover\:border-destructive\/30:hover{
	border-color:hsla(var(--destructive),.3)
}

.rounded-full{
	border-radius:9999px
}

.rounded-lg{
	border-radius:var(--radius)
}

.rounded-md{
	border-radius:calc(var(--radius) - 2px)
}

.rounded-sm{
	border-radius:calc(var(--radius) - 4px)
}

.rounded-b-lg{
	border-bottom-left-radius:var(--radius);
	border-bottom-right-radius:var(--radius)
}

.rounded-tl-sm{
	border-top-left-radius:calc(var(--radius) - 4px)
}

.border-dashed{
	border-style:dashed
}

.bg-background,.data-\[state\=active\]\:bg-background[data-state=active]{
	--un-bg-opacity:1;
	background-color:hsla(var(--background),var(--un-bg-opacity))
}

.bg-background\/80{
	background-color:hsla(var(--background),.8)
}

.bg-border{
	--un-bg-opacity:1;
	background-color:hsla(var(--border),var(--un-bg-opacity))
}

.bg-card{
	--un-bg-opacity:1;
	background-color:hsla(var(--card),var(--un-bg-opacity))
}

.bg-destructive,.group.destructive .group-\[\.destructive\]\:hover\:bg-destructive:hover{
	--un-bg-opacity:1;
	background-color:hsla(var(--destructive),var(--un-bg-opacity))
}

.bg-muted,.hover\:bg-muted:hover{
	--un-bg-opacity:1;
	background-color:hsla(var(--muted),var(--un-bg-opacity))
}

.bg-popover{
	--un-bg-opacity:1;
	background-color:hsla(var(--popover),var(--un-bg-opacity))
}

.bg-primary,.data-\[state\=checked\]\:bg-primary[data-state=checked]{
	--un-bg-opacity:1;
	background-color:hsla(var(--primary),var(--un-bg-opacity))
}

.bg-secondary,.data-\[state\=open\]\:bg-secondary[data-state=open],.hover\:bg-secondary:hover{
	--un-bg-opacity:1;
	background-color:hsla(var(--secondary),var(--un-bg-opacity))
}

.bg-slate-100,.data-\[state\=open\]\:bg-slate-100[data-state=open]{
	--un-bg-opacity:1;
	background-color:rgba(241,245,249,var(--un-bg-opacity))
}

.bg-transparent,.file\:bg-transparent::file-selector-button{
	background-color:transparent
}

.bg-white{
	--un-bg-opacity:1;
	background-color:rgba(255,255,255,var(--un-bg-opacity))
}

.dark .dark\:bg-slate-700,.dark .dark\:data-\[state\=open\]\:bg-slate-700[data-state=open]{
	--un-bg-opacity:1;
	background-color:rgba(51,65,85,var(--un-bg-opacity))
}

.dark .dark\:bg-slate-800{
	--un-bg-opacity:1;
	background-color:rgba(30,41,59,var(--un-bg-opacity))
}

.data-\[active\]\:bg-accent\/50[data-active],.data-\[state\=open\]\:bg-accent\/50[data-state=open]{
	background-color:hsla(var(--accent),.5)
}

.data-\[state\=on\]\:bg-accent[data-state=on],.data-\[state\=open\]\:bg-accent[data-state=open],.hover\:bg-accent:hover{
	--un-bg-opacity:1;
	background-color:hsla(var(--accent),var(--un-bg-opacity))
}

.data-\[state\=unchecked\]\:bg-input[data-state=unchecked]{
	--un-bg-opacity:1;
	background-color:hsla(var(--input),var(--un-bg-opacity))
}

.hover\:bg-destructive\/90:hover{
	background-color:hsla(var(--destructive),.9)
}

.hover\:bg-primary\/90:hover{
	background-color:hsla(var(--primary),.9)
}

.hover\:bg-secondary\/80:hover{
	background-color:hsla(var(--secondary),.8)
}

.dark .dark\:focus\:bg-slate-700:focus{
	--un-bg-opacity:1;
	background-color:rgba(51,65,85,var(--un-bg-opacity))
}

.focus\:bg-accent:focus{
	--un-bg-opacity:1;
	background-color:hsla(var(--accent),var(--un-bg-opacity))
}

.focus\:bg-slate-100:focus{
	--un-bg-opacity:1;
	background-color:rgba(241,245,249,var(--un-bg-opacity))
}

.from-muted\/50{
	--un-gradient-from-position:0%;
	--un-gradient-from:hsla(var(--muted),.5) var(--un-gradient-from-position);
	--un-gradient-to-position:100%;
	--un-gradient-to:hsla(var(--muted),0) var(--un-gradient-to-position);
	--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to)
}

.to-muted{
	--un-gradient-to-position:100%;
	--un-gradient-to:hsla(var(--muted),var(--un-to-opacity, 1)) var(--un-gradient-to-position)
}

.bg-gradient-to-b{
	--un-gradient-shape:to bottom;
	--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);
	background-image:linear-gradient(var(--un-gradient))
}

.fill-primary{
	--un-fill-opacity:1;
	fill:hsla(var(--primary),var(--un-fill-opacity))
}

.p-0{
	padding:0
}

.p-1{
	padding:.25rem
}

.p-3{
	padding:.75rem
}

.p-4{
	padding:1rem
}

.p-6{
	padding:1.5rem
}

.px-2{
	padding-left:.5rem;
	padding-right:.5rem
}

.px-2\.5{
	padding-left:.625rem;
	padding-right:.625rem
}

.px-3{
	padding-left:.75rem;
	padding-right:.75rem
}

.px-4{
	padding-left:1rem;
	padding-right:1rem
}

.px-5{
	padding-left:1.25rem;
	padding-right:1.25rem
}

.px-8{
	padding-left:2rem;
	padding-right:2rem
}

.py-1\.5{
	padding-top:.375rem;
	padding-bottom:.375rem
}

.py-2{
	padding-top:.5rem;
	padding-bottom:.5rem
}

.py-20{
	padding-top:5rem;
	padding-bottom:5rem
}

.py-4{
	padding-top:1rem;
	padding-bottom:1rem
}

.pb-4{
	padding-bottom:1rem
}

.pl-8{
	padding-left:2rem
}

.pr-2{
	padding-right:.5rem
}

.pr-8{
	padding-right:2rem
}

.pt-0{
	padding-top:0
}

.pt-2{
	padding-top:.5rem
}

.text-center{
	text-align:center
}

.text-right{
	text-align:right
}

.file\:text-sm::file-selector-button,.text-sm{
	font-size:.875rem;
	line-height:1.25rem
}

.text-lg{
	font-size:1.125rem;
	line-height:1.75rem
}

.text-xs{
	font-size:.75rem;
	line-height:1rem
}

.file\:font-medium::file-selector-button,.font-medium{
	font-weight:500
}

.font-semibold{
	font-weight:600
}

.leading-none{
	line-height:1
}

.leading-snug{
	line-height:1.375
}

.leading-tight{
	line-height:1.25
}

.tracking-tight{
	letter-spacing:-.025em
}

.tracking-widest{
	letter-spacing:.1em
}

.italic{
	font-style:italic
}

.dark .dark\:text-slate-300{
	--un-text-opacity:1;
	color:rgba(203,213,225,var(--un-text-opacity))
}

.dark .dark\:text-slate-400{
	--un-text-opacity:1;
	color:rgba(148,163,184,var(--un-text-opacity))
}

.data-\[state\=active\]\:text-foreground[data-state=active],.hover\:text-foreground:hover,.text-foreground{
	--un-text-opacity:1;
	color:hsla(var(--foreground),var(--un-text-opacity))
}

.data-\[state\=on\]\:text-accent-foreground[data-state=on],.data-\[state\=open\]\:text-accent-foreground[data-state=open],.hover\:text-accent-foreground:hover{
	--un-text-opacity:1;
	color:hsla(var(--accent-foreground),var(--un-text-opacity))
}

.data-\[state\=open\]\:text-muted-foreground[data-state=open],.hover\:text-muted-foreground:hover,.placeholder\:text-muted-foreground::placeholder,.text-muted-foreground{
	--un-text-opacity:1;
	color:hsla(var(--muted-foreground),var(--un-text-opacity))
}

.group.destructive .group-\[\.destructive\]\:hover\:text-destructive-foreground:hover,.text-destructive-foreground{
	--un-text-opacity:1;
	color:hsla(var(--destructive-foreground),var(--un-text-opacity))
}

.group.destructive .group-\[\.destructive\]\:hover\:text-red-50:hover{
	--un-text-opacity:1;
	color:rgba(254,242,242,var(--un-text-opacity))
}

.group.destructive .group-\[\.destructive\]\:text-red-300{
	--un-text-opacity:1;
	color:rgba(252,165,165,var(--un-text-opacity))
}

.text-card-foreground{
	--un-text-opacity:1;
	color:hsla(var(--card-foreground),var(--un-text-opacity))
}

.text-current{
	color:currentColor
}

.text-foreground\/50{
	color:hsla(var(--foreground),.5)
}

.text-popover-foreground{
	--un-text-opacity:1;
	color:hsla(var(--popover-foreground),var(--un-text-opacity))
}

.text-primary{
	--un-text-opacity:1;
	color:hsla(var(--primary),var(--un-text-opacity))
}

.text-primary-foreground{
	--un-text-opacity:1;
	color:hsla(var(--primary-foreground),var(--un-text-opacity))
}

.text-secondary-foreground{
	--un-text-opacity:1;
	color:hsla(var(--secondary-foreground),var(--un-text-opacity))
}

.text-slate-500{
	--un-text-opacity:1;
	color:rgba(100,116,139,var(--un-text-opacity))
}

.text-slate-700{
	--un-text-opacity:1;
	color:rgba(51,65,85,var(--un-text-opacity))
}

.text-slate-900{
	--un-text-opacity:1;
	color:rgba(15,23,42,var(--un-text-opacity))
}

.focus\:text-accent-foreground:focus{
	--un-text-opacity:1;
	color:hsla(var(--accent-foreground),var(--un-text-opacity))
}

.hover\:underline:hover{
	text-decoration-line:underline
}

.underline-offset-4{
	text-underline-offset:4px
}

.no-underline{
	text-decoration:none
}

.tab{
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4
}

.data-\[disabled\]\:opacity-50[data-disabled],.disabled\:opacity-50:disabled,.opacity-50{
	opacity:.5
}

.group:hover .group-hover\:opacity-100,.hover\:opacity-100:hover,.opacity-100{
	opacity:1
}

.opacity-0{
	opacity:0
}

.opacity-70,.peer:disabled~.peer-disabled\:opacity-70{
	opacity:.7
}

.opacity-90{
	opacity:.9
}

.focus\:opacity-100:focus{
	opacity:1
}

.data-\[state\=active\]\:shadow-sm[data-state=active],.shadow-sm{
	--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgba(0,0,0,.05));
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.shadow-lg{
	--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgba(0,0,0,.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgba(0,0,0,.1));
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.shadow-md{
	--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgba(0,0,0,.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgba(0,0,0,.1));
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.focus\:shadow-md:focus{
	--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgba(0,0,0,.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgba(0,0,0,.1));
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.outline{
	outline-style:solid
}

.focus-visible\:outline-none:focus-visible,.outline-none{
	outline:2px solid transparent;
	outline-offset:2px
}

.focus\:outline-none:focus{
	outline:2px solid transparent;
	outline-offset:2px
}

.focus-visible\:ring-2:focus-visible{
	--un-ring-width:2px;
	--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
	--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.ring-0{
	--un-ring-width:0;
	--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
	--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.focus\:ring-2:focus{
	--un-ring-width:2px;
	--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);
	--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);
	box-shadow:var(--un-ring-offset-shadow),var(--un-ring-shadow),var(--un-shadow)
}

.focus-visible\:ring-offset-2:focus-visible{
	--un-ring-offset-width:2px
}

.focus\:ring-offset-2:focus{
	--un-ring-offset-width:2px
}

.focus-visible\:ring-ring:focus-visible{
	--un-ring-opacity:1;
	--un-ring-color:hsla(var(--ring),var(--un-ring-opacity))
}

.focus\:ring-ring:focus{
	--un-ring-opacity:1;
	--un-ring-color:hsla(var(--ring),var(--un-ring-opacity))
}

.group.destructive .group-\[\.destructive\]\:focus\:ring-destructive:focus{
	--un-ring-opacity:1;
	--un-ring-color:hsla(var(--destructive),var(--un-ring-opacity))
}

.group.destructive .group-\[\.destructive\]\:focus\:ring-red-400:focus{
	--un-ring-opacity:1;
	--un-ring-color:rgba(248,113,113,var(--un-ring-opacity))
}

.focus-visible\:ring-offset-background:focus-visible,.ring-offset-background{
	--un-ring-offset-opacity:1;
	--un-ring-offset-color:hsla(var(--background),var(--un-ring-offset-opacity))
}

.group.destructive .group-\[\.destructive\]\:focus\:ring-offset-red-600:focus{
	--un-ring-offset-opacity:1;
	--un-ring-offset-color:rgba(220,38,38,var(--un-ring-offset-opacity))
}

.backdrop-blur-sm{
	--un-backdrop-blur:blur(4px);
	-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
	backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia)
}

.transition{
	transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	transition-duration:.15s
}

.transition-all{
	transition-property:all;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	transition-duration:.15s
}

.transition-colors{
	transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	transition-duration:.15s
}

.transition-opacity{
	transition-property:opacity;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	transition-duration:.15s
}

.transition-transform{
	transition-property:transform;
	transition-timing-function:cubic-bezier(.4,0,.2,1);
	transition-duration:.15s
}

.duration-100{
	transition-duration:.1s
}

.duration-200{
	transition-duration:.2s
}

.duration-300{
	transition-duration:.3s
}

.data-\[swipe\=move\]\:transition-none[data-swipe=move]{
	transition:none
}

.data-\[state\=open\]\:accordion-down[data-state=open]{
	animation:shadcn-down .2s ease-out
}

.data-\[state\=closed\]\:accordion-up[data-state=closed]{
	animation:shadcn-up .2s ease-out
}

.animate-in,.data-\[motion\^\=from-\]\:animate-in[data-motion^=from-],.data-\[state\=open\]\:animate-in[data-state=open],.data-\[state\=visible\]\:animate-in[data-state=visible]{
	animation-name:shadcn-enter;
	animation-duration:var(--un-animate-duration);
	--un-animate-duration:.15s;
	--un-enter-opacity:initial;
	--un-enter-scale:initial;
	--un-enter-rotate:initial;
	--un-enter-translate-x:initial;
	--un-enter-translate-y:initial
}

.data-\[motion\^\=to-\]\:animate-out[data-motion^=to-],.data-\[state\=closed\]\:animate-out[data-state=closed],.data-\[state\=hidden\]\:animate-out[data-state=hidden],.data-\[swipe\=end\]\:animate-out[data-swipe=end]{
	animation-name:shadcn-exit;
	animation-duration:var(--un-animate-duration);
	--un-animate-duration:.15s;
	--un-exit-opacity:initial;
	--un-exit-scale:initial;
	--un-exit-rotate:initial;
	--un-exit-translate-x:initial;
	--un-exit-translate-y:initial
}

.data-\[motion\^\=from-\]\:fade-in[data-motion^=from-],.data-\[state\=open\]\:fade-in[data-state=open],.data-\[state\=visible\]\:fade-in[data-state=visible],.fade-in{
	--un-enter-opacity:0
}

.data-\[state\=open\]\:fade-in-90[data-state=open],.fade-in-90{
	--un-enter-opacity:.9
}

.fade-in-50{
	--un-enter-opacity:.5
}

.fade-in-80{
	--un-enter-opacity:.8
}

.data-\[motion\^\=to-\]\:fade-out[data-motion^=to-],.data-\[state\=closed\]\:fade-out[data-state=closed],.data-\[state\=hidden\]\:fade-out[data-state=hidden]{
	--un-exit-opacity:0
}

.data-\[state\=closed\]\:fade-out-80[data-state=closed]{
	--un-exit-opacity:.8
}

.data-\[state\=open\]\:zoom-in-90[data-state=open],.zoom-in-90{
	--un-enter-scale:.9
}

.data-\[state\=closed\]\:zoom-out-95[data-state=closed]{
	--un-out-scale:.95
}

.data-\[side\=bottom\]\:slide-in-from-top-1[data-side=bottom],.slide-in-from-top-1{
	--un-enter-translate-y:-.25rem
}

.data-\[side\=bottom\]\:slide-in-from-top-2[data-side=bottom]{
	--un-enter-translate-y:-.5rem
}

.data-\[state\=open\]\:slide-in-from-top-full[data-state=open],.slide-in-from-top{
	--un-enter-translate-y:-100%
}

.data-\[side\=top\]\:slide-in-from-bottom-1[data-side=top]{
	--un-enter-translate-y:.25rem
}

.data-\[side\=top\]\:slide-in-from-bottom-2[data-side=top]{
	--un-enter-translate-y:.5rem
}

.data-\[state\=open\]\:slide-in-from-bottom-10[data-state=open],.slide-in-from-bottom-10{
	--un-enter-translate-y:2.5rem
}

.slide-in-from-bottom{
	--un-enter-translate-y:100%
}

.data-\[motion\=from-start\]\:slide-in-from-left-52[data-motion=from-start]{
	--un-enter-translate-x:-13rem
}

.data-\[side\=right\]\:slide-in-from-left-1[data-side=right],.slide-in-from-left-1{
	--un-enter-translate-x:-.25rem
}

.data-\[side\=right\]\:slide-in-from-left-2[data-side=right]{
	--un-enter-translate-x:-.5rem
}

.slide-in-from-left{
	--un-enter-translate-x:-100%
}

.data-\[motion\=from-end\]\:slide-in-from-right-52[data-motion=from-end]{
	--un-enter-translate-x:13rem
}

.data-\[side\=left\]\:slide-in-from-right-1[data-side=left]{
	--un-enter-translate-x:.25rem
}

.data-\[side\=left\]\:slide-in-from-right-2[data-side=left]{
	--un-enter-translate-x:.5rem
}

.slide-in-from-right{
	--un-enter-translate-x:100%
}

.data-\[motion\=to-start\]\:slide-out-to-left-52[data-motion=to-start]{
	--un-exit-translate-x:-13rem
}

.data-\[motion\=to-end\]\:slide-out-to-right-52[data-motion=to-end]{
	--un-exit-translate-x:13rem
}

.data-\[state\=closed\]\:slide-out-to-right-full[data-state=closed]{
	--un-exit-translate-x:100%
}

@media (min-width: 640px){
  .sm\:bottom-0{
    bottom:0
  }

  .sm\:right-0{
    right:0
  }

  .sm\:top-auto{
    top:auto
  }

  .sm\:mt-0{
    margin-top:0
  }

  .sm\:max-w-\[425px\]{
    max-width:425px
  }

  .sm\:max-w-lg{
    max-width:32rem
  }

  .sm\:flex-row{
    flex-direction:row
  }

  .sm\:flex-col{
    flex-direction:column
  }

  .sm\:items-center{
    align-items:center
  }

  .sm\:justify-end{
    justify-content:flex-end
  }

  .sm\:space-x-2>:not([hidden])~:not([hidden]){
    --un-space-x-reverse:0;
    margin-left:calc(.5rem * calc(1 - var(--un-space-x-reverse)));
    margin-right:calc(.5rem * var(--un-space-x-reverse))
  }

  .sm\:rounded-lg{
    border-radius:var(--radius)
  }

  .sm\:text-left{
    text-align:left
  }

  .sm\:zoom-in-90{
    --un-enter-scale:.9
  }

  .data-\[state\=open\]\:sm\:slide-in-from-bottom-0[data-state=open],.sm\:slide-in-from-bottom-0{
    --un-enter-translate-y:0
  }

  .data-\[state\=open\]\:sm\:slide-in-from-bottom-full[data-state=open]{
    --un-enter-translate-y:100%
  }
}

@media (min-width: 768px){
  .md\:absolute{
    position:absolute
  }

  .md\:-top-25{
    top:-6.25rem
  }

  .md\:grid-cols-2{
    grid-template-columns:repeat(2,minmax(0,1fr))
  }

  .md\:max-w-\[420px\]{
    max-width:420px
  }

  .md\:w-\[400px\]{
    width:400px
  }

  .md\:w-\[500px\]{
    width:500px
  }

  .md\:w-\[var\(--radix-navigation-menu-viewport-width\)\]{
    width:var(--radix-navigation-menu-viewport-width)
  }

  .md\:w-auto{
    width:auto
  }

  .md\:w-full{
    width:100%
  }
}

@media (min-width: 1024px){
  .lg\:grid-cols-\[\.75fr_1fr\]{
    grid-template-columns:.75fr 1fr
  }

  .lg\:w-\[500px\]{
    width:500px
  }

  .lg\:w-\[600px\]{
    width:600px
  }
}


